In [16]:
import pandas as pd
import numpy as np

In [141]:
data1=pd.read_csv("D:\\datasets\\bank\\bank.csv")
data2=pd.read_csv("D:\\datasets\\bank\\bank-full.csv")
print(data1.shape,"\n",data2.shape)

(4521, 17)
 (45211, 17)

In [152]:
#R binding both datasets
data = data1.append(data2)
data.shape

(49732, 17)

In [153]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

# Preprocessing

In [154]:
#Here variable  Contact not used, so remove it
data=data.drop('contact',axis=1)
data.head()

,age,job,marital,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,5,may,226,1,-1,0,unknown,no

# Handling the missing values

In [155]:
data.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

No missing values found here

In [156]:
#datatypes that are available in this data set
data.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

# Replacing strings with numbers

In [157]:
#Function for dictonary to store coding info about varaibles
inf0={}
def code_map(le,name):
    global info
    job_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
    info[name]=job_name_mapping
    print(name,' :varaiable successfully coded')

In [158]:
data.head(1)

,age,job,marital,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,19,oct,79,1,-1,0,unknown,no

In [159]:
#import the necessary module
from sklearn import preprocessing
# create the Labelencoder object
le = preprocessing.LabelEncoder()
#convert the categorical columns into numeric
data['job']=le.fit_transform(data['job'])
code_map(le,'job')

data['marital']=le.fit_transform(data['marital'])
code_map(le,'marital')

data['education']=le.fit_transform(data['education'])
code_map(le,'education')

data['default']=le.fit_transform(data['default'])
code_map(le,'default')

data['housing']=le.fit_transform(data['housing'])
code_map(le,'housing')

data['loan']=le.fit_transform(data['loan'])
code_map(le,'loan')

data['poutcome']=le.fit_transform(data['poutcome'])
code_map(le,'poutcome')

data.head()

job  :varaiable successfully coded
marital  :varaiable successfully coded
education  :varaiable successfully coded
default  :varaiable successfully coded
housing  :varaiable successfully coded
loan  :varaiable successfully coded
poutcome  :varaiable successfully coded

,age,job,marital,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10,1,0,0,1787,0,0,19,oct,79,1,-1,0,3,no
1,33,7,1,1,0,4789,1,1,11,may,220,1,339,4,0,no
2,35,4,2,2,0,1350,1,0,16,apr,185,1,330,1,0,no
3,30,4,1,2,0,1476,1,1,3,jun,199,4,-1,0,3,no
4,59,1,1,1,0,0,1,0,5,may,226,1,-1,0,3,no

In [160]:
info

{'poutcome': {'failure': 0, 'other': 1, 'success': 2, 'unknown': 3},
 'job': {'admin.': 0,
  'blue-collar': 1,
  'entrepreneur': 2,
  'housemaid': 3,
  'management': 4,
  'retired': 5,
  'self-employed': 6,
  'services': 7,
  'student': 8,
  'technician': 9,
  'unemployed': 10,
  'unknown': 11},
 'marital': {'divorced': 0, 'married': 1, 'single': 2},
 'education': {'primary': 0, 'secondary': 1, 'tertiary': 2, 'unknown': 3},
 'default': {'no': 0, 'yes': 1},
 'housing': {'no': 0, 'yes': 1},
 'loan': {'no': 0, 'yes': 1}}

In [161]:
#Converting month name into month number
from time import strptime
data['month']=list(map(lambda x:strptime(x,'%b').tm_mon,data['month']))
data.head()

,age,job,marital,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10,1,0,0,1787,0,0,19,10,79,1,-1,0,3,no
1,33,7,1,1,0,4789,1,1,11,5,220,1,339,4,0,no
2,35,4,2,2,0,1350,1,0,16,4,185,1,330,1,0,no
3,30,4,1,2,0,1476,1,1,3,6,199,4,-1,0,3,no
4,59,1,1,1,0,0,1,0,5,5,226,1,-1,0,3,no

# Splitting the dataset into train and test sets

In [164]:
X = data.iloc[:,0:-1]
y = data.iloc[:,-1]

# Train Dataset

In [166]:

from sklearn.model_selection import train_test_split
X_test,X_train,y_test,y_train = train_test_split(X, y, test_size =0.3 , random_state =100 )

# **************** Model Building *********************

# Binary Logisitic Classification Algorithm

In [167]:
#Fitting a logistic regression model to the train set
from sklearn.linear_model import LogisticRegression
LG=LogisticRegression()
LG.fit(X_train,y_train)

C:\Users\reshw\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [168]:
y_pred =LG.predict(X_test)

In [170]:
#Making predictions and evaluating performance
#Accuracy Score
from sklearn.metrics import accuracy_score
acc_score=accuracy_score(y_test,y_pred)
print('accuracy_score is ',acc_score)

accuracy_score is  0.8894059519705848

In [175]:
#Confusion matrix
from sklearn import metrics
cnf_mat=metrics.confusion_matrix(y_test,y_pred)
print(cnf_mat)

[[30220   524]
 [ 3326   742]]

In [173]:
#Testing by sending parameters into model
ip=[30,10,1,0,0,1787,0,0,19,10,79,1,-1,0,3]
LG.predict([ip])

array(['no'], dtype=object)

Loan approval rejected.

# KNN

In [176]:
from sklearn.neighbors import KNeighborsClassifier
KNN=KNeighborsClassifier()
KNN.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [179]:
y_pred =KNN.predict(X_test)
#Accuracy Score
from sklearn.metrics import accuracy_score
acc_score=accuracy_score(y_test,y_pred)
print('accuracy_score is ',acc_score)

accuracy_score is  0.8821383431000804

# NaiveBayes

In [180]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB
GNB=GaussianNB()
GNB.fit(X_train,y_train)
y_pred =GNB.predict(X_test)
#Accuracy Score
from sklearn.metrics import accuracy_score
acc_score=accuracy_score(y_test,y_pred)
print('accuracy_score is ',acc_score)

accuracy_score is  0.8540733080546938

# Decision Tree

In [181]:
from sklearn.tree import DecisionTreeClassifier
DTC=DecisionTreeClassifier()
DTC.fit(X_train,y_train)
y_pred =DTC.predict(X_test)
#Accuracy Score
from sklearn.metrics import accuracy_score
acc_score=accuracy_score(y_test,y_pred)
print('accuracy_score is ',acc_score)

accuracy_score is  0.8775996782718603

# Gradient Boost

In [183]:
from sklearn.ensemble import GradientBoostingClassifier
GBC=GradientBoostingClassifier()
GBC.fit(X_train,y_train)
y_pred = GBC.predict(X_test)
print('Accuracy',metrics.accuracy_score(y_test,y_pred))

Accuracy 0.9048316672411812

# Random Forest

In [196]:
from sklearn.ensemble import RandomForestClassifier

RFC = RandomForestClassifier(n_estimators=200, random_state=1)
RFC.fit(X_train, y_train)
y_pred = RFC.predict(X_test)
print('Accuracy',metrics.accuracy_score(y_test,y_pred))

Accuracy 0.9075031598299437

From above models Random Forest and Gradient Boost Models gives better accuracy . In these two Random Forest gives more better accuracy

In [197]:
#confusion matrix
from sklearn import metrics
conf_matr =metrics.confusion_matrix(y_test,y_pred)
conf_matr

array([[30071,   673],
       [ 2547,  1521]], dtype=int64)

In [198]:
#Cross Validation
from sklearn.model_selection import cross_val_score
all_accuracies = cross_val_score(estimator=RFC, X=X_train, y=y_train, cv=5)
print(all_accuracies)

[0.90619765 0.9041876  0.90516086 0.90848139 0.9044586 ]

In [202]:
all_accuracies.mean()

0.9056972221671357

In [203]:
all_accuracies.std()

0.001555819301797359

The result is: 0.01555 which is 1.55%.This is extremely low, which means that our model has a very low variance, which is actually very good since that means that the prediction that we obtained on one test set is not by chance. Rather, the model will perform more or less similar on all test sets.

In [204]:
#Testing by sending parameters into model
ip=[30,10,1,0,0,1787,0,0,19,10,79,1,-1,0,3]
RFC.predict([ip])

array(['no'], dtype=object)